In [1]:
import numpy as np
import pandas as pd

In [2]:
%pwd

'/Users/uli/Documents/Work/Tutorials/RKI_Covid'

In [3]:
covid_path = "211203_RKI_COVID19.csv"

In [5]:
covid_path

'211203_RKI_COVID19.csv'

In [6]:
covid = pd.read_csv(covid_path)

In [7]:
covid

,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,1,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,2,0,2021/11/17 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/11/12 00:00:00+00,0,2,1,Nicht übermittelt
1,2,1,Schleswig-Holstein,SK Flensburg,A15-A34,W,1,0,2021/09/27 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/09/19 00:00:00+00,0,1,1,Nicht übermittelt
2,3,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,3,0,2021/11/17 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/11/14 00:00:00+00,0,3,1,Nicht übermittelt
3,4,1,Schleswig-Holstein,SK Flensburg,A15-A34,W,1,0,2021/09/28 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/09/28 00:00:00+00,0,1,0,Nicht übermittelt
4,5,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,1,0,2021/11/17 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/11/15 00:00:00+00,0,1,1,Nicht übermittelt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034181,3034182,16,Thüringen,LK Altenburger Land,unbekannt,unbekannt,1,0,2021/11/30 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",1,-9,2021/11/30 00:00:00+00,-9,0,0,Nicht übermittelt
3034182,3034183,16,Thüringen,LK Altenburger Land,unbekannt,W,1,0,2021/11/19 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/11/19 00:00:00+00,-9,0,0,Nicht übermittelt
3034183,3034184,16,Thüringen,LK Altenburger Land,unbekannt,W,1,0,2021/11/27 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/11/27 00:00:00+00,-9,0,0,Nicht übermittelt
3034184,3034185,16,Thüringen,LK Altenburger Land,unbekannt,W,1,0,2021/11/30 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/11/30 00:00:00+00,-9,0,0,Nicht übermittelt
3034185,3034186,16,Thüringen,LK Altenburger Land,unbekannt,W,1,0,2021/12/01 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",1,-9,2021/12/01 00:00:00+00,-9,0,0,Nicht übermittelt

In [8]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3034186 entries, 0 to 3034185
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   ObjectId              int64
 1   IdBundesland          int64
 2   Bundesland            object
 3   Landkreis             object
 4   Altersgruppe          object
 5   Geschlecht            object
 6   AnzahlFall            int64
 7   AnzahlTodesfall       int64
 8   Meldedatum            object
 9   IdLandkreis           int64
 10  Datenstand            object
 11  NeuerFall             int64
 12  NeuerTodesfall        int64
 13  Refdatum              object
 14  NeuGenesen            int64
 15  AnzahlGenesen         int64
 16  IstErkrankungsbeginn  int64
 17  Altersgruppe2         object
dtypes: int64(10), object(8)
memory usage: 416.7+ MB

In [9]:
covid['Bundesland']

0          Schleswig-Holstein
1          Schleswig-Holstein
2          Schleswig-Holstein
3          Schleswig-Holstein
4          Schleswig-Holstein
                  ...
3034181             Thüringen
3034182             Thüringen
3034183             Thüringen
3034184             Thüringen
3034185             Thüringen
Name: Bundesland, Length: 3034186, dtype: object

In [10]:
covid[['Meldedatum', 'Bundesland']]

                     Meldedatum          Bundesland
0        2021/11/17 00:00:00+00  Schleswig-Holstein
1        2021/09/27 00:00:00+00  Schleswig-Holstein
2        2021/11/17 00:00:00+00  Schleswig-Holstein
3        2021/09/28 00:00:00+00  Schleswig-Holstein
4        2021/11/17 00:00:00+00  Schleswig-Holstein
...                         ...                 ...
3034181  2021/11/30 00:00:00+00           Thüringen
3034182  2021/11/19 00:00:00+00           Thüringen
3034183  2021/11/27 00:00:00+00           Thüringen
3034184  2021/11/30 00:00:00+00           Thüringen
3034185  2021/12/01 00:00:00+00           Thüringen

[3034186 rows x 2 columns]

In [11]:
covid['Bundesland'].value_counts()

Bayern                    595231
Nordrhein-Westfalen       594775
Baden-Württemberg         418919
Niedersachsen             229097
Hessen                    222832
Sachsen                   165526
Rheinland-Pfalz           148829
Berlin                    141319
Thüringen                 128031
Brandenburg               103262
Sachsen-Anhalt             76759
Schleswig-Holstein         74013
Mecklenburg-Vorpommern     43740
Hamburg                    38833
Saarland                   34003
Bremen                     19017
Name: Bundesland, dtype: int64

In [12]:
covid['Landkreis'].value_counts()

SK Hamburg              38833
SK München              28437
SK Köln                 27740
SK Frankfurt am Main    24313
Region Hannover         23969
                        ...
SK Pirmasens             1747
LK Wittmund              1725
SK Emden                 1629
SK Zweibrücken           1276
LK Lüchow-Dannenberg     1267
Name: Landkreis, Length: 411, dtype: int64

In [13]:
covid['AnzahlFall'].sum()

5976524