In [1]:
# Die Sprache python ist für sich allein schon recht flexibel, aber die großen Möglichkeiten kommen erst, wenn man
# externe Module zum Basisprogramm dazulädt.
# Wir benötigen zwei Module, die mit großen Datenreihen und Datenfeldern umgehen können. Dies sind zum einen numpy,
# ein Modul, was mit Zahlen und matrizen rechnen kann und
# pandas, eine Art Datenmanager für Tabellen, mit enormen Sortier, Ordnungs und Filterfuntionen.

# Das importieren der Module geht einfach in der Form

import numpy as np
import pandas as pd

# Jetzt können wir alle Zusatzbefehle und Strukturen von Pandas nutzen unter den Namen np und pd

In [2]:
# Unser erstes Ziel ist es, die Covid-daten zu laden.
# Zur Sicherheit wechseln wir in unserem Jupyter Notebook erst einmal in das 
# richtige Arbeitsverzeichnis, dorthin, wo unsere Covid Datenbank liegt.

%cd ~/Documents/Work/Tutorials/RKI_Covid

# Wir definieren nun eine Variable, die den Namen unserer Datenbank enthält. 
# Da wir uns ja schon im richtigen Arbeitsverzeichnis befinden, 
# brauchen wir hier den Pfad nicht mehr mit eingeben 
#covid_path = "211203_RKI_COVID19.csv"

covid_path = "211203_RKI_COVID19_sample.csv"


#Achtung: Im Github ist nur ein kleiner Auszug der Original RKI Covid_Datei vom 03.12.21 abgelegt.
# Hinweis zu den Daten (Stand 03.12.2021):
# Die Daten sind die „Fallzahlen in Deutschland“ des Robert Koch-Institut (RKI) und stehen unter der Open Data Datenlizenz Deutschland – Namensnennung – Version 2.0 zur Verfügung. 
# Quellenvermerk: Robert Koch-Institut (RKI), dl-de/by-2-0

/Users/uli/Documents/Work/Tutorials/RKI_Covid

In [3]:
# Jetzt kommt der erste wirklich mächtige Befehl aus der Pandas Bibliothek, nämlich
# der Befehl "read_csv", der unsere Datenbank, die ja im csv Format vorliegt einlädt.
# Da der Befehl ja aus einer externen Bibliothek kommt, müssen wir das Bibliothekskürzel pd voranstellen
# Der Befehl liefert als Ergebnis eine Pandas Datenstruktur, einen sogenannten Dataframe
# den wir der Variable covid zuweisen. Der Dataframe oder übersetzt datenrahmen ist eine der beiden mächtigen Datenstrukturen von Pandas, 
# dazu aber mehr in einem anderen Tutorial.

covid = pd.read_csv(covid_path)

In [4]:
# Schauen wir uns den Inhalt der des dataframes covid nun einmal an. Dazu rufen wir covid einfach auf.

covid

,Unnamed: 0,ObjectId,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,43,44,1,Schleswig-Holstein,SK Flensburg,A15-A34,W,1,0,2021/10/29 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/10/23 00:00:00+00,0,1,1,Nicht übermittelt
1,44,45,1,Schleswig-Holstein,SK Flensburg,A15-A34,W,1,0,2021/10/29 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/10/27 00:00:00+00,0,1,1,Nicht übermittelt
2,486,487,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,1,0,2021/10/29 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/10/22 00:00:00+00,0,1,1,Nicht übermittelt
3,487,488,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,1,0,2021/10/29 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/10/27 00:00:00+00,0,1,1,Nicht übermittelt
4,488,489,1,Schleswig-Holstein,SK Flensburg,A35-A59,M,1,0,2021/10/29 00:00:00+00,1001,"02.12.2021, 00:00 Uhr",0,-9,2021/10/29 00:00:00+00,0,1,0,Nicht übermittelt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11127,3033519,3033520,16,Thüringen,LK Altenburger Land,A60-A79,W,1,0,2021/10/29 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/10/27 00:00:00+00,0,1,1,Nicht übermittelt
11128,3033520,3033521,16,Thüringen,LK Altenburger Land,A60-A79,W,1,0,2021/10/29 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/10/28 00:00:00+00,0,1,1,Nicht übermittelt
11129,3033521,3033522,16,Thüringen,LK Altenburger Land,A60-A79,W,1,0,2021/10/29 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/10/29 00:00:00+00,0,1,0,Nicht übermittelt
11130,3034122,3034123,16,Thüringen,LK Altenburger Land,A80+,W,1,1,2021/10/29 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,0,2021/10/28 00:00:00+00,-9,0,1,Nicht übermittelt
11131,3034123,3034124,16,Thüringen,LK Altenburger Land,A80+,W,1,0,2021/10/29 00:00:00+00,16077,"02.12.2021, 00:00 Uhr",0,-9,2021/10/29 00:00:00+00,0,1,0,Nicht übermittelt

In [5]:
# Das ist doch schon einmal sehr beeindruckend. Wir sehen hier die Übersicht einer 
# Datentabelle mit über 2 Millionen Zeilen und 18 Spalten. Und der Begriff 
# Dataframe oder Datenrahmen kommt hier bildlich sogar irgendwie gut rüber.

# Ganz links am Rand sehen wir eine Durchnummerierung der ganzen Zeilen, den sog. Index
# In der Mitte sehen wir anhand der vielen Dreipunktsequenzen, dass die Ausgabe unterbrochen ist,
# es sollen ja nicht alle 2 Millionen Zeilen vor unserem Auge durchscrollen.

# Wir können uns auch schon einmal die Spalten unserer Datenbank ansehen, und was da so drin ist.
# Die Spaltennamen sprechen zum Teil für sich und wir picken uns hier schon einmal ein paar wichtige Infos raus:

# Da gibt es z.B. das Bundesland, den Landkreis, die Altersgruppe und das Geschlecht, aber auch Das Meldedatum

# Und um die Sache kurz zu machen und ohne zu spoilern, diese datenbank enthält die einzelnen 
# Meldungen aus den Landkreisen für ein bestimmtes Datum. Nicht jeder Landkreis meldet jeden Tag, aber in Summe
# erhalten wir hier einen Übeblick über jeden Tag der Pandemie.

In [6]:
# mit dem dataframe covid können wir nun arbeiten. Wir können diverse Funktionen auf ihn anwenden.
# So können wir zum Beispiel mit der Funktion info(), eine Kurzzusammenfassung zu unseren Daten erzeugen.
# Pythom ist objetorientiert, deswegen wenden wir die Funtion info auf unseren Dataframe covid 
# über die Punkt Schreibweise an:

covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11132 entries, 0 to 11131
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            11132 non-null  int64
 1   ObjectId              11132 non-null  int64
 2   IdBundesland          11132 non-null  int64
 3   Bundesland            11132 non-null  object
 4   Landkreis             11132 non-null  object
 5   Altersgruppe          11132 non-null  object
 6   Geschlecht            11132 non-null  object
 7   AnzahlFall            11132 non-null  int64
 8   AnzahlTodesfall       11132 non-null  int64
 9   Meldedatum            11132 non-null  object
 10  IdLandkreis           11132 non-null  int64
 11  Datenstand            11132 non-null  object
 12  NeuerFall             11132 non-null  int64
 13  NeuerTodesfall        11132 non-null  int64
 14  Refdatum              11132 non-null  object
 15  NeuGenesen            11132 non-null  int64
 16  AnzahlGenesen         11132 non-null  int64
 17  IstErkrankungsbeginn  11132 non-null  int64
 18  Altersgruppe2         11132 non-null  object
dtypes: int64(11), object(8)
memory usage: 1.6+ MB

In [7]:
# Hier werden sie 18 Spalten aufgelistet und die Datentypen, die dort vorhanden sind, d.h. ob 
# eine Spalte zum Beispiel reine Zahlenwerte enthält. Darum kümmern wir uns aber später.

In [8]:
# ich will nun noch ein paar erste Möglichkeiten zeigen, wie man auf so einen Dataframe zugreifen kann:

# zum Beispiel kann ich ganz einfach eine oder mehrere Spalten rausgreifen:
    
covid['Bundesland']

0        Schleswig-Holstein
1        Schleswig-Holstein
2        Schleswig-Holstein
3        Schleswig-Holstein
4        Schleswig-Holstein
                ...
11127             Thüringen
11128             Thüringen
11129             Thüringen
11130             Thüringen
11131             Thüringen
Name: Bundesland, Length: 11132, dtype: object

In [9]:
covid[['Meldedatum', 'Bundesland']]

                   Meldedatum          Bundesland
0      2021/10/29 00:00:00+00  Schleswig-Holstein
1      2021/10/29 00:00:00+00  Schleswig-Holstein
2      2021/10/29 00:00:00+00  Schleswig-Holstein
3      2021/10/29 00:00:00+00  Schleswig-Holstein
4      2021/10/29 00:00:00+00  Schleswig-Holstein
...                       ...                 ...
11127  2021/10/29 00:00:00+00           Thüringen
11128  2021/10/29 00:00:00+00           Thüringen
11129  2021/10/29 00:00:00+00           Thüringen
11130  2021/10/29 00:00:00+00           Thüringen
11131  2021/10/29 00:00:00+00           Thüringen

[11132 rows x 2 columns]

In [10]:
# Was fällt uns denn hier auf? Die Darstellung ist unterschiedlich, 
# ob wir eine oder mehrere Spalten anzeigen lassen.

# Wenn wir zwei Spalten rausgreifen, bekommen wir als Ergebnis wieder
# einen dataframe, nur das er diesmal nur zwei Spalten und den Index hat

# Beim Rausschneiden einer Spalte bekommen wir es mit der zweiten Datenstruktur von
# Pandas zu tun, der so. Series.
# Eine Series ist also wie ein Spaltenvektor, ein Dataframe ist aus mehreren Series zusammengesetzt.
# Beide haben eine Index, den man jeweils als ganz linke Spalte laufen sieht.

In [11]:
# Bevor es nun zu viel Stoff wird noch zwei kleinere Befehle, mit denen man weiter analysieren kann:
# Die Funktione value_counts zeigt uns, wie viele verschiedene Elemente in einer Spalte sind, und wie oft 
# die jeweils in der Spalte auftauchen

# Wenden wir doch einfach mal die Funktion value_counts() auf unsere Series an, die nur das Bundesland enthält:

covid['Bundesland'].value_counts()

Bayern                    2711
Baden-Württemberg         1745
Nordrhein-Westfalen       1584
Sachsen                    671
Hessen                     639
Thüringen                  634
Niedersachsen              629
Rheinland-Pfalz            625
Berlin                     500
Brandenburg                380
Sachsen-Anhalt             337
Schleswig-Holstein         263
Mecklenburg-Vorpommern     175
Saarland                    94
Hamburg                     90
Bremen                      55
Name: Bundesland, dtype: int64

In [12]:
# Das Gleiche können wir auch mit der Landkreis spalte machen:


covid['Landkreis'].value_counts()


# Hier wird die Ausgabe wieder kompat gekürzt, denn es sind ja 313 verschiedene Landkreistypen 
# dort in der Spalte vorhanden und die sollen ja nicht einfach vor unserem auge durchscollen.

SK München            98
SK Hamburg            90
LK Rosenheim          82
LK Erzgebirgskreis    82
SK Dresden            74
                      ..
LK Kusel               5
SK Hof                 5
LK Wolfenbüttel        5
LK Wesermarsch         3
SK Pirmasens           2
Name: Landkreis, Length: 410, dtype: int64

In [13]:
# Zum Abschluss wollen wir noch die erste Rechenoperation auf unsere datenbank anwenden, oder
# besser gesagt, auf eine Spalte der datenbank

# Da jede Zeile ja die Fallmeldung enthält wollen wir diese mal aufsummieren um die Gesamtzahl 
# der gemeldeten Infektionen zu bestimmen

# Dazu greifen wir uns wieder eine Spalte rasu, in dem Fall die Spalte mit den Fallzahlen 
# und wenden die Funktion sum(), also Summenbildung auf die Spalte an.

covid['AnzahlFall'].sum()

#Anmerkung: Da wir hier nur einen Ausschnitt der Original-Datei untersuchen ist die Fallzahl geringer.

22555

In [14]:
# Das soll es für dieses Tutorial erst einmal sein.
# In einem weiteren Tutorial wollen wir uns ansehen, wie wir die Tagbelle weiter filtern können und uns
# überlegen, wie wir die Fallzahlen pro tag für die einzelnen Landkreise plotten können.